.HomeImage{
    text-align: center;
    margin:150px 300px;
    display: flex;
    font-size: 15px;
}
.section1HomeImage{
    width:50%;
    margin-right: 50px;
}
.section1HomeImage{
    width:50%; 
    margin-right: 50px;
}

