.OptionPage{

}
.OptionPage .OptionPage1{
  text-align: center;
  display: flex;
  text-align: center;
  margin: 100px  auto;
}
.OptionPage .column {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%; /* the magic */
  /* border-style: solid; */
  border-style: dashed;
  border-color: black;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  /* text-align: center; */
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 40px;
  background-color: #f03521; 
}
.OptionPage a {
  color:white;
  text-decoration: none;
}
.OptionPage .S a {
  color:black;
  text-decoration: none;
}
.OptionPage .column:hover, .column:active {
  background-color:black;
}